#items{
    width: 100%;
}
.img {
    width: 100%;
}
.img img {
    width: 80%;
    border-radius: 20px;
    border: 2px solid var(--color-blue-1);

    /* height: 500px; */
}
.img img:hover {
    opacity: 0.5;
}
.description{
    padding: 20px 10px;
    width: 80%;
} 
.description h5{
    font-size: var(--font-size-content);
}
