.ticketDetai{
    /* height: 100vh; */
    margin: 5% 10%;
    border: 1px solid var(--color-blue-1);
    border-radius: 15px;
}
.ticketDetai h1{
    margin: 3% 5%;
}
.item--Ticket{
    margin: 3% 5% ;
}
.item--ticket--top{
    background-color:#e6f9ff ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    padding: 5% 7%;
    color: var(--color-black-1);
    border-radius: 15px;
}
.place{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.place p{
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.id--name{
    margin: 2% 0 0 0;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6vh;
}
.logoari{
    height: 100%;
}
.logoari img{
    height: 100%;
}
.item--ticket--bottom h5{
    padding: 0 2% 2% 2% ;
    font-size: 20px;
}
.item--ticket--bottom-btn button{
    width: 15%;
    height: 5vh;
    border-radius: 15px;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid var(--color-blue-1);
    background-color: var(--color-white-1);
}
.link p{
    display: flex;
    margin: 2% 5%;
    font-size: 20px;
    align-items: center;
}